.loadField {
    padding: 20px;
}

.loadBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: rgba(51, 51, 51, 0.05);
    color: #3d3c3c;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}